<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wydnex.sapchws.control.mappers.ControlMapper">

    <select id="listarLlamadas" resultType="map">
        exec SAP_ForLisLlaTel_sp
    </select>

    <select id="listarLlamadaPorId" resultType="map">
        exec SAP_ForLisDetLla_sp
        #{llamadaId}
    </select>

    <select id="registrarLlamada" resultType="map">
        exec SAP_ForRegLlaTel_sp
        #{llamada.codigo},
        #{llamada.descripcion},
        #{llamada.unidadMedida},
        #{llamada.precioUnitario},
        #{llamada.fechaDesde},
        #{llamada.fechaHasta}
    </select>

    <select id="actualizarLlamada" resultType="map">
        exec SAP_ForUpdLlaTel_sp
        #{llamada.llamadaId},
        #{llamada.codigo},
        #{llamada.descripcion},
        #{llamada.unidadMedida},
        #{llamada.precioUnitario},
        #{llamada.fechaDesde},
        #{llamada.fechaHasta}
    </select>


    <select id="listarLlamadasTelefonicas" resultType="map">
        exec SAP_ForLisLlamad_sp
        #{fechaDesde},
        #{fechaHasta},
        #{page},
        #{limit}
    </select>

    <select id="importExcelLlamadas" resultType="map">
        exec SAP_ForRegLlamad_sp
        #{llamada.codigoProceso},
        #{llamada.periodo},
        #{llamada.codigoPersona},
        #{llamada.numeroTelefonico},
        #{llamada.codigoRegistro},
        #{llamada.tipoLlamada},
        #{llamada.fechaLlamada},
        #{llamada.horaLlamada},
        #{llamada.duracionLlamada},
        #{llamada.precioLlamada},
        #{llamada.usuario},
        #{llamada.codigoEstado},
        #{llamada.ctipidella},
        #{llamada.nombrePersona}
    </select>

    <select id="exportExcelLlamadas" resultType="map">
        exec SAP_ForLisExpLla_sp
        #{fechaDesde},
        #{fechaHasta}
    </select>


    <select id="listarAutorizacionLlamadas" resultType="map">
        exec SAP_ForLisAutLla_sp
        #{autorizado}
    </select>

    <select id="obtenerDetallePorTelefono" resultType="map">
        exec SAP_ForDetAutTel_sp
        #{numeroTelefonico}
    </select>

    <select id="obtenerAutorizacionPorId" resultType="map">
        exec SAP_ForDetAutLla_sp
        #{autorizacionId}
    </select>

    <select id="registrarAutorizacionLlamada" resultType="map">
        exec SAP_ForRegAutLla_sp
        #{authLlamada.tipoAutorizacion},
        #{authLlamada.numeroTelefonico},
        #{authLlamada.clienteId},
        #{authLlamada.codigoCliente},
        #{authLlamada.clasePersonaId},
        #{authLlamada.nombre},
        #{authLlamada.telefonoTipoId},
        #{authLlamada.telefonoDestinoId},
        #{authLlamada.detalleAutorizacion},
        #{authLlamada.autorizacionCliente},
        #{authLlamada.codigoUsuario}
    </select>

    <select id="actualizarAutorizacionLlamada" resultType="map">
        exec SAP_ForUpdAutLla_sp
        #{authLlamada.autorizacionId},
        #{authLlamada.tipoAutorizacion},
        #{authLlamada.telefonoTipoId},
        #{authLlamada.telefonoDestinoId},
        #{authLlamada.detalleAutorizacion},
        #{authLlamada.autorizacionCliente}
    </select>


    <select id="listarAutorizacionGeneralLlamadas" resultType="map">
        exec SAP_ForAutGenLla_sp
        #{autorizado}
    </select>

    <select id="obtenerDetalleNumeroTelefonico" resultType="map">
        exec SAP_ForAutGenTel_sp
        #{numeroTelefonico}
    </select>

    <select id="obtenerAutorizacionGeneralPorId" resultType="map">
        exec SAP_ForDetAutGen_sp
        #{autorizacionId}
    </select>

    <select id="registrarAutorizacionGeneralLlamada" resultType="map">
        exec SAP_ForRegAutGen_sp
        #{authLlamada.tipoAutorizacion},
        #{authLlamada.numeroTelefonico},
        #{authLlamada.clienteId},
        #{authLlamada.codigoCliente},
        #{authLlamada.clasePersonaId},
        #{authLlamada.nombre},
        #{authLlamada.telefonoTipoId},
        #{authLlamada.telefonoDestinoId},
        #{authLlamada.detalleAutorizacion},
        #{authLlamada.autorizacionGeneral},
        #{authLlamada.codigoUsuario}
    </select>

    <select id="actualizarAutorizacionGeneralLlamada" resultType="map">
        exec SAP_ForUpdAutGen_sp
        #{authLlamada.autorizacionId},
        #{authLlamada.tipoAutorizacion},
        #{authLlamada.telefonoTipoId},
        #{authLlamada.telefonoDestinoId},
        #{authLlamada.detalleAutorizacion},
        #{authLlamada.autorizacionGeneral}
    </select>




    <select id="listarLlamadaTipo" resultType="map">
        exec SAP_ForLisLlaTip_sp
    </select>


    <select id="listarLlamadasPorUsuario" resultType="map">
        exec SAP_ForLisLlaUsr_sp
        #{usuario},
        #{page},
        #{limit}
    </select>


    <select id="obtenerDetalleLlamadaTelefonica" resultType="map">
        exec SAP_ForDetRegLla_sp
        #{llamadaId}
    </select>

    <select id="obtenerDatosTelefono" resultType="map">
        exec SAP_ForDetNumTel_sp
        #{numeroTelefonico}
    </select>

    <select id="registrarLlamadaTelefonica" resultType="map">
        exec SAP_ForRegLlaUsr_sp
        #{llamada.numeroTelefonico},
        #{llamada.ubicacion},
        #{llamada.llamadaTipoId},
        #{llamada.telefonoTipoId},
        #{llamada.familiaInstitucion},
        #{llamada.telefonoDestinoId},
        #{llamada.motivo},
        #{llamada.vigente},
        #{llamada.telefonoClienteId},
        #{llamada.telefonoGeneralId},
        #{llamada.codigoUsuario}
    </select>

    <select id="actualizarLlamadaTelefonica" resultType="map">
        exec SAP_ForUpdLlaUsr_sp
        #{llamada.llamadaId},
        #{llamada.ubicacion},
        #{llamada.llamadaTipoId},
        #{llamada.familiaInstitucion},
        #{llamada.motivo},
        #{llamada.vigente}
    </select>

    <select id="exportExcelTelefonosPersonal" resultType="map">
        exec SAP_ForLisTelPer_sp
        #{vigente}
    </select>



</mapper>