<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wydnex.sapchws.configuracion.mappers.ConfiguracionMapper">

    <select id="listarMotivoSustento" resultType="map">
        exec SAP_ForLisMotSus_sp
    </select>

    <select id="registrarMotivoSustento" resultType="map">
        exec SAP_ForRegMotSus_sp
        #{motivoSustento.CDESCRIPCI},
        #{motivoSustento.IVIGENTE}
    </select>

    <select id="actualizarMotivoSustento" resultType="map">
        exec SAP_ForUpdMotSus_sp
        #{motivoSustento.IMOTSUSAMP},
        #{motivoSustento.CDESCRIPCI},
        #{motivoSustento.IVIGENTE}
    </select>

    <select id="eliminarMotivoSustento" resultType="map">
        exec SAP_ForDelMotSus_sp
        #{motivoSustento.IMOTSUSAMP}
    </select>


    <select id="listarMotivoAutorizacion" resultType="map">
        exec SAP_ForLisMotAut_sp
    </select>

    <select id="registrarMotivoAutorizacion" resultType="map">
        exec SAP_ForRegMotAut_sp
        #{motivoAutorizacion.CDESCRIPCI},
        #{motivoAutorizacion.IVIGENTE}
    </select>

    <select id="actualizarMotivoAutorizacion" resultType="map">
        exec SAP_ForUpdMotAut_sp
        #{motivoAutorizacion.IMOTAUTOPC},
        #{motivoAutorizacion.CDESCRIPCI},
        #{motivoAutorizacion.IVIGENTE}
    </select>

    <select id="eliminarMotivoAutorizacion" resultType="map">
        exec SAP_ForDelMotAut_sp
        #{motivoAutorizacion.IMOTAUTOPC}
    </select>


    <select id="listarMotivoModificacionPres" resultType="map">
        exec SAP_ForLisMotMod_sp
    </select>

    <select id="registrarMotivoModificacionPres" resultType="map">
        exec SAP_ForRegMotMod_sp
        #{motivoModificacionPres.motivoModificacion},
        #{motivoModificacionPres.flagVigente},
        #{motivoModificacionPres.usuarioRegistro}
    </select>

    <select id="actualizarMotivoModificacionPres" resultType="map">
        exec SAP_ForUpdMotMod_sp
        #{motivoModificacionPres.motivoModificacionId},
        #{motivoModificacionPres.motivoModificacion},
        #{motivoModificacionPres.flagVigente}
    </select>

    <select id="eliminarMotivoModificacionPres" resultType="map">
        exec SAP_ForDelMotMod_sp
        #{motivoModificacionPres.motivoModificacionId}
    </select>


    <select id="listarTipoGasto" resultType="map">
        exec SAP_ForLisTipGas_sp
    </select>

    <select id="registrarTipoGasto" resultType="map">
        exec SAP_ForRegTipGas_sp
        #{tipoGasto.descripcionGasto},
        #{tipoGasto.diasRechazo},
        #{tipoGasto.flagRechazoFinMes},
        #{tipoGasto.flagConfigurable},
        #{tipoGasto.flagVigente}
    </select>

    <select id="actualizarTipoGasto" resultType="map">
        exec SAP_ForUpdTipGas_sp
        #{tipoGasto.tipoGastoId},
        #{tipoGasto.descripcionGasto},
        #{tipoGasto.diasRechazo},
        #{tipoGasto.flagRechazoFinMes},
        #{tipoGasto.flagConfigurable},
        #{tipoGasto.flagVigente}
    </select>

    <select id="eliminarTipoGasto" resultType="map">
        exec SAP_ForDelTipGas_sp
        #{tipoGasto.tipoGastoId}
    </select>


    <select id="listarProceso" resultType="map">
        exec SAP_ForLisOpcion_sp
    </select>

    <select id="listarPlantilla" resultType="map">
        exec SAP_ForLisPlanti_sp
        #{procesoId}
    </select>

    <select id="listarDetallePlantilla" resultType="map">
        exec SAP_ForLisDetPla_sp
        #{plantillaId}
    </select>

    <select id="obtenerVersionPlantilla" resultType="map">
        exec SAP_ForVersPlant_sp
        #{procesoId}
    </select>

    <select id="registrarPlantilla" resultType="map">
        exec SAP_ForRegPlanti_sp
        #{plantilla.procesoId},
        #{plantilla.grupoDocumento},
        #{plantilla.documentoId},
        #{plantilla.nombreDocumento},
        #{plantilla.version},
        #{plantilla.flagVigente}
    </select>

    <select id="actualizarPlantilla" resultType="map">
        exec SAP_ForUpdPlanti_sp
        #{plantilla.historialId},
        #{plantilla.plantillaId},
        #{plantilla.flagVigente}
    </select>


</mapper>