<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wydnex.sapchws.configuracion.mappers.ConfiguracionMapper">

    <select id="listarMotivoSustento" resultType="map">
        exec SAP_ForLisMotSus_sp
    </select>

    <select id="registrarMotivoSustento" resultType="map">
        exec SAP_ForRegMotSus_sp
        #{motivoSustento.CDESCRIPCI},
        #{motivoSustento.IVIGENTE}
    </select>

    <select id="actualizarMotivoSustento" resultType="map">
        exec SAP_ForUpdMotSus_sp
        #{motivoSustento.IMOTSUSAMP},
        #{motivoSustento.CDESCRIPCI},
        #{motivoSustento.IVIGENTE}
    </select>

    <select id="eliminarMotivoSustento" resultType="map">
        exec SAP_ForDelMotSus_sp
        #{motivoSustento.IMOTSUSAMP}
    </select>

    <select id="listarMotivoAutorizacion" resultType="map">
        exec SAP_ForLisMotAut_sp
    </select>

    <select id="registrarMotivoAutorizacion" resultType="map">
        exec SAP_ForRegMotAut_sp
        #{motivoAutorizacion.CDESCRIPCI},
        #{motivoAutorizacion.IVIGENTE}
    </select>

    <select id="actualizarMotivoAutorizacion" resultType="map">
        exec SAP_ForUpdMotAut_sp
        #{motivoAutorizacion.IMOTAUTOPC},
        #{motivoAutorizacion.CDESCRIPCI},
        #{motivoAutorizacion.IVIGENTE}
    </select>

    <select id="eliminarMotivoAutorizacion" resultType="map">
        exec SAP_ForDelMotAut_sp
        #{motivoAutorizacion.IMOTAUTOPC}
    </select>

</mapper>